.dropdownWrapper {
  border: 2px solid var(--color-light-gray);
  background-color: var(--color-lighter-gray);
  border-radius: var(--border-radius);
  padding: var(--input-padding);
  position: relative;
  width: 50%;
  user-select: none;
  cursor: pointer;
}
.dropdown {
  display: flex;
  justify-content: space-between;
}

.focus {
  border: 2px solid var(--color-gray);
}

.visible svg {
  transform: rotate(180deg);
}

.dropdownWrapper svg {
  margin-left: auto;
  color: var(--color-gray);
  transition: all 0.2s ease-in;
}

.dropdownMenu {
  position: absolute;
  background-color: var(--color-lighter-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-3);
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 100%;
  right: 0;
}

.dropdownItem {

}

.dropdownItem:hover{
  background-color: var(--color-light-gray);
}

.active {
  color: var(--color-blue);
}