.button {
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    padding: 15px;
    border: none;
    color: white;
    cursor: pointer;
}

.disabled {
    background-color: var(--color-gray);
}